body{
    background:#d8c8b0;
    font-family:Arial, sans-serif;
}

.container{
    width:100%;
    margin:100px auto;
    border:1px solid #d9d9d9;
    border-radius:10px;
    overflow:hidden;
}

.header{
    background:#4387D2;
    color:white;
    padding:15px;
}

.main{
    display:flex;
    min-height:100px;
;}

.sidebar{
    width:150px;
    background:#087484;
    padding-top:20px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px 20px;
}

.sidebar ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.sidebar ul li:hover{
    background:#36748C;
}

.content{
    flex:1;
    background:#006F97;
    color:white;
    padding:40px;
}

.content h2{
    margin-bottom:20px;
}

.content p{
    margin-bottom:20px;
}

.footer{
    background:#c69245;
    text-align:center;
    padding:15px;
    color:#222;
}